[Unit]
Description=sway compositor session
# BindsTo=graphical-session.target
# Wants=graphical-session-pre.target
# Wants=wayland-session.target
# After=graphical-session-pre.target
BindsTo=wayland-session.target
Wants=wayland-session.target
After=wayland-session.target

#[Install]
#WantedBy=wayland-session.target
