[Unit]
Description=syncronize Wayland clipboard 
BindsTo=wayland-session.target

[Service]
Type=simple
# ExecStart=wl-paste -pw wl-copy
ExecStart=wl-paste -pw wl-copy -f

[Install]
WantedBy=wayland-session.target
