[Unit]
Description=wayland session
#BindsTo=graphical-session.target
#Wants=graphical-session-pre.target
#After=graphical-session-pre.target
BindsTo=graphical-session.target
Wants=graphical-session.target
After=graphical-session.target

#[Install]
#WantedBy=graphical-session.target
