pane_frames false
default_mode "locked"
mouse_mode false
// copy_clipboard "primary"
simplified_ui true

themes {
    xia {
        fg 245
        bg 0
        red 88
        green 70 130 180
        yellow 0
        blue 0
        magenta 0
        orange 166
        cyan 0
        black 16
        white 255
    }
}
theme "xia"

ui {
    pane_frames {
        hide_session_name true
    }
}

plugins {
    forgot   location="file:zellij_forgot.wasm"
    tiny-bar location="file:tiny-bar.wasm"
    zjstatus location="file:zjstatus.wasm" {
        format_left   "{command_hostname}{tabs}"
        format_center "{notifications}"
        format_right  "{mode}"

        mode_normal  "#[fg=blue]{name}"
        mode_locked  ""
        mode_resize  "#[fg=red]{name}"
        mode_default_to_mode "resize"

        tab_normal   "#[fg=white]{index}{sync_indicator}{fullscreen_indicator}{floating_indicator}#[fg=0]:#[fg=whitte]{name}"
        tab_active   "#[fg=blue]{index}{sync_indicator}{fullscreen_indicator}{floating_indicator}#[fg=0]:#[fg=white]{name}"
        tab_separator " "
        tab_sync_indicator       "S"
        tab_fullscreen_indicator "F"
        tab_floating_indicator   "f"

        notification_format_unread "{message}"

        command_hostname_command    "zellij-hostname"
        command_hostname_format     "[fg=#6C7086]{stdout}"
        command_hostname_interval   "0"
        command_hostname_rendermode "static"

        datetime          "#[fg=#6C7086,bold]{format}"
        datetime_format   "%T"
        datetime_timezone "Asia/Tokyo"
    }
}

keybinds clear-defaults=true {
    shared {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    shared_except "locked" "entersearch" "renametab" {
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
    }
    normal {
        bind "g" { Write 7; SwitchToMode "locked"; } // Ctrl-g ASCII code.
        bind "c" { NewPane "Down"; SwitchToMode "locked"; }
        bind "t" { NewTab; SwitchToMode "locked"; }
        bind "T" { ToggleTab; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "Ctrl p" "Up"    { FocusPreviousPane;      SwitchToMode "locked"; }
        bind "Ctrl n" "Down"  { FocusNextPane;          SwitchToMode "locked"; }
        bind "Ctrl b" "Left"  { MoveFocusOrTab "Left";  SwitchToMode "locked"; }
        bind "Ctrl f" "Right" { MoveFocusOrTab "Right"; SwitchToMode "locked"; }
        bind "P" { MovePane "Up";   SwitchToMode "locked"; }
        bind "N" { MovePane "Down"; SwitchToMode "locked"; }
        bind "B" { BreakPaneLeft;   SwitchToMode "locked"; }
        bind "F" { BreakPaneRight;  SwitchToMode "locked"; }
        bind "m"     { ToggleFocusFullscreen;     SwitchToMode "locked"; }
        bind "Space" { ToggleFloatingPanes;       SwitchToMode "locked"; }
        bind "f"     { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "=" { Resize "Increase"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }
        bind "Alt p"  { SwitchToMode "pane"; }
        bind "Alt t"  { SwitchToMode "tab"; }
        bind "PageUp" { SwitchToMode "scroll"; }
        bind "/"      { SwitchToMode "entersearch"; SearchInput 0; }
        bind "E" { EditScrollback; SwitchToMode "locked"; }
        bind "X" { CloseFocus; }
        bind "Q" { Quit; }
        bind "D" { Detach; }
        bind "S" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
            }
            SwitchToMode "locked"
        }
        bind "?" {
            LaunchOrFocusPlugin "forgot" {
                floating true
            }
            SwitchToMode "locked"
        }
    }
    pane {
        bind "r" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "z" { TogglePaneFrames; }
    }
    tab {
        bind "X" { CloseTab; }
        bind "s" { ToggleActiveSyncTab; }
    }

    shared_among "scroll" "search" {
        bind "Ctrl n" "Down"    { ScrollDown; }
        bind "Ctrl p" "Up"      { ScrollUp; }
        bind "PageDown" "Space" { PageScrollDown; }
        bind "PageUp"           { PageScrollUp; }
        bind "d"                { HalfPageScrollDown; }
        bind "u"                { HalfPageScrollUp; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
    }
    search {
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
        bind "Esc"   { SwitchToMode "Scroll"; }
    }

    shared_among "renametab" "renamepane" {
        bind "Enter" { SwitchToMode "locked"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "locked"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "locked"; }
    }
}
