keybinds clear-defaults=true {
    normal {
        bind "g" { Write 7; SwitchToMode "locked"; } // Ctrl-g ASCII code.
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
        bind "c" { NewPane "Down"; SwitchToMode "locked"; }
        bind "C" { Run "zellij-new-pane"; }
        bind "t" { NewTab; SwitchToMode "locked"; }
        // bind "T" { NewTab; SwitchToMode "locked"; }
        bind "R" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "." {
            Run "zellij-rename-tab-pwd" {
                close_on_exit true
            }
        }
        bind "Ctrl p" "Up" { FocusPreviousPane; SwitchToMode "locked"; }
        bind "Ctrl n" "Down" { FocusNextPane; SwitchToMode "locked"; }
        bind "Ctrl b" "Left" { MoveFocusOrTab "Left"; SwitchToMode "locked"; }
        bind "Ctrl f" "Right" { MoveFocusOrTab "Right"; SwitchToMode "locked"; }
        bind "P" { MovePane "Up"; SwitchToMode "locked"; }
        bind "N" { MovePane "Down"; SwitchToMode "locked"; }
        bind "B" { MovePane "Left"; SwitchToMode "locked"; }
        bind "F" { MovePane "Right"; SwitchToMode "locked"; }
        bind "m" { ToggleFocusFullscreen; SwitchToMode "locked"; }
        bind "Space" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "f" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "=" { Resize "Increase"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }
        bind "Alt p" { SwitchToMode "pane"; }
        bind "Alt t" { SwitchToMode "tab"; }
        bind "Alt r" { SwitchToMode "resize"; }
        bind "Alt S" "PageUp" { SwitchToMode "scroll"; }
        bind "Alt s" { SwitchToMode "session"; }
        bind "Alt m" { SwitchToMode "move"; }
        bind "X" { CloseFocus; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    pane {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
        bind "d" { NewPane "Down"; }
        bind "r" { NewPane "Right"; }
        bind "X" { CloseFocus; }
        bind "Z" { TogglePaneFrames; }
    }
    tab {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Ctrl b" "Left" { GoToPreviousTab; }
        bind "Ctrl f" "Right" { GoToNextTab; }
        bind "n" { NewTab; }
        bind "X" { CloseTab; }
        bind "S" { ToggleActiveSyncTab; }
    }
    resize {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
        bind "=" { Resize "Increase"; }
        bind "Alt +" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    move {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
        bind "n" "Tab" { MovePane; }
        bind "Ctrl p" "Up" { MovePane "Up"; }
        bind "Ctrl n" "Down" { MovePane "Down"; }
        bind "Ctrl b" "Left" { MovePane "Left"; }
        bind "Ctrl f" "Right" { MovePane "Right"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "Ctrl g" { ScrollToBottom; SwitchToMode "normal"; }
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
        bind "Ctrl r" "Ctrl s" "Space" "Enter" { SwitchToMode "normal"; }
        bind "Ctrl n" "Down" { ScrollDown; }
        bind "Ctrl p" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    session {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Esc" "Enter" "Space" { SwitchToMode "locked"; }
        bind "q" { Quit; }
        bind "d" { Detach; }
    }
    RenameTab {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "locked"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "locked"; }
    }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

// Send a request for a simplified ui (without arrow fonts) to plugins
// Options:
//   - true
//   - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Choose the theme that is specified in the themes section.
// Default: default
//
// theme "default"

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir /path/to/my/layout_dir

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
themes {
    default {
        fg 245
        bg 238
        black 16
        red 88
        green 70 130 180
        yellow 0
        blue 0
        magenta 0
        cyan 0
        white 255
        orange 166
    }
}
