/.dotfiles.git/*
!/.dotfiles.git/config
!/.dotfiles.git/hooks/
!/.dotfiles.git/info/

/[^.]*

/.config/google-chrome*/
/.config/microsoft-edge*/
/.config/R/lib/

/.cargo/*/
/.go/*/
/.local/*/
!/.local/etc/
/.mozilla/firefox/*
!/.mozilla/firefox/share/
/.pry.d/
/.rustup/*/
/.thumbnails/
/.wine/drive_*/

addons/
extensions/
lib/
node_modules/
*logs/
*cache/
!/.config/zsh/functions/cache/
